*.png
figs/
logs/
*.pkl
*.pyc
*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pth
docs/build
configs/*.yml
*.db
*.db-journal
*.log
*.npy
*.index
*.csv
*.ann
*.npy
**/.DS_Store
src/build
src/dist
.vscode/

lab/XKCD_model/scripts/test_sql.py
src/magis_sigdial2020/testing_code.py
